<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USB_Antivirus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USB_Antivirus.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck20" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck21" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck1_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck2_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck3_st" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ck4_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck5_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck6_st" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usbLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="writeProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="driveVaccination" serializeAs="String">
                <value>False</value>
            </setting>
        </USB_Antivirus.Properties.Settings>
    </userSettings>
</configuration>